.course-details-background {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      #b2f1e3 0,
      #b2f1e3 250px,
      transparent 250px
    ),
    url("../../public/images/course-details-background.png");
  background-color: #F6F6F9;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: 100% 250px;
}

.row {
  margin: 0px;
}

.navbar-row {
  margin: 0px;
}

.navbar-container {
  padding: 0px;
}

.course-details-header {
  margin-bottom: 25px;
  text-align: center;
}s

.course-details-header h1 {
  text-align: left;
  margin: 0px;
}

.course-details {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 50px 100px;
}

.course-details-body {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

.course-details-main-body {
  width: 70%;
}

.course-details-sidebar {
  width: 30%;
  padding-left: 15px;
}


.course-details-video-box {
  width: 100%;
  max-width: 1000px; 
  /* margin: 0 auto; */ 
  padding-left: 15px;
}

.course-details-video-box iframe {
  border-radius: 10px;
  width: 100%; 
  height: auto; 
}

.course-details-basic-info-box,
.course-details-sidecard,
.course-details-info,
.course-details-detailed-info-box,
.course-details-literature {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #E8E8E8;
  text-align: left;
  padding: 30px 25px 30px 25px;
  margin-top: 25px;

}
.course-details-categorization {
  background-color: #ffffff;
  border-radius: 10px;
  text-align: left;
  padding: 30px 25px 30px 25px;
  margin-top: 25px;
}

.course-details-sidecard {
  margin-top: 0px;
}

.footer {
  background: transparent; /* Fully transparent background */
  text-align: center;
  padding: 20px;
  width: 100%;
  z-index: 1;
}
.footer-body {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  color: #fbfbfb;

  display: flex;
  justify-content: center;
}

.green-paragraph {
  color: #008767;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.06px;
  
}

img {
  min-width: 18px;
}
.close-button-container {
  position: relative;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.module-selector {
  display: flex;
  flex-direction: column;
  align-self: flex-end; 
  margin-left: auto; 
}
.module-selector p {
  margin-bottom: 5px; 
}

#course-name-header-text,
#course-department-header-text {
  text-align: center;
}

.tags-preview .departments-preview {
  padding-bottom: 20px;
}
.tag-card {
  display: inline-block;
  padding: 8px 16px 8px 16px;
  margin: 4px;
  background-color: #DDFEF6;

  border-radius: 54px;
  font-size: 14px;
  color: #008767;
}
.session_time_table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.session_time_table caption {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.session_time_table th,
.session_time_table td {
  padding: 8px;
  text-align: left;
}

.session_time_table thead {
  background-color: #f2f2f2;
}

.session_time_table th {
  background-color: #E4EFEC;
  font-weight: bold;
}

.session_time_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.session_time_table tr:hover {
  background-color: #EFEFEF;
}

.horizontal-separator-basic-info-card {
  border-top: 1px solid #004A7C; 
  width: 100%;
  
  padding-bottom: 20px;
}


/*
 *  Styling for extra large screens
 */
@media (min-width: 1200px) {
  .course-details {
    padding: 0px 125px 0px 125px;
  }
  .course-details-sidecard {
    display: block;
  }
  .course-details-info {
    display: none;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .course-details-sidebar {
    display: none;
  }
  .course-details-info {
    display: block;
  }
  .course-details-main-body {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .course-details {
    padding: 0px;
  }
  .course-details-sidebar {
    display: none;
  }
  .course-details-info {
    display: inline-block;
  }
  .course-details-main-body {
    width: 90%;
  }
}
